.swg-gallery {

  &__row {
    box-sizing: border-box;
    margin: 0 ($gutter/-2);
    display: flex;
  }

  &__col {
    box-sizing: border-box;
    padding: 0 ($gutter/2);

    &--1 {
      width: 100% / (12 / 1 );
    }

    &--2 {
      width: 100% / (12 / 2 );
    }

    &--3 {
      width: 100% / (12 / 3 );
    }

    &--4 {
      width: 100% / (12 / 4 );
    }

    &--5 {
      width: 100% / (12 / 5 );
    }

    &--6 {
      width: 100% / (12 / 6 );
    }

    &--7 {
      width: 100% / (12 / 7 );
    }

    &--8 {
      width: 100% / (12 / 8 );
    }

    &--9 {
      width: 100% / (12 / 9 );
    }

    &--10 {
      width: 100% / (12 / 10 );
    }

    &--11 {
      width: 100% / (12 / 11 );
    }

    &--12 {
      width: 100% / (12 / 12 );
    }

  }

}